/*-------------------------- Общие стили -----------------------*/

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
* {
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 1170px;
    padding: 0 15px;
}

li {
    list-style: none;
}

.main_title {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    margin-bottom: 100px;
}

.main_subtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #7d8f99;
    padding: 0 30px 40px;
    line-height: 1.4;
    letter-spacing: 0.5px;
}

.btn {
    text-decoration: none;
    color: #fff;
    width: 200px;
    margin: 2rem 0 0 15px;
}

.btn_orange {
    background-color: #ffa51d;
    text-transform: capitalize;
}

.fontInter {
    font-family: Inter;
    font-weight: 600;
}

.fontMontserrat {
    font-family: Montserrat, sans-serif;
}

.btnBlue {
    border: none;
    border-radius: 68px;
    padding: 10px 16px;
    background-color: #2b7af1;
    color: white;
    font-family: Inter;
    font-weight: 600;
}

.titleMonserrat {
    font-family: Montserrat, sans-serif;
    color: #2b7af1;
    letter-spacing: -2%;
    font-size: 40px;
    font-weight: 700;
}

.titleMonserrat--small {
    font-size: 20px;
    font-weight: 800;
    font-family: Montserrat, sans-serif;
    color: #2b7af1;
    letter-spacing: -2%;
}

.titleMonserrat--white {
    color: white;
    width: 500px;
}

.subtitleRoboto {
    letter-spacing: -2%;
    text-align: justify;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 150%;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;

}

.modal {
    margin-top: 50px;
    width: 500px;
    height: 250px;
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
}

.modal_loading{
    margin-top: 50px;
    width: 500px;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
}

.modal-header,
.modal-footer {
    padding: 15px;
    display: flex;
}

.modal-header {
    background: #ffa51d;
    height: 25px;
    border-bottom: 1px solid #eeeeee;
    color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_save{
    width: 180px;
    height: 35px;
    margin: 10px auto;
    border: none;
    background-color: #ffa51d;
    font-family: Montserrat, sanr-serif;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px 0px rgba(148, 147, 147, 0.3);
}
.editBtn{
    margin-left: 1rem;
    text-transform: uppercase;
    width: 180px;
    height: 45px;
    border: none;
    background-color: #ffa51d;
    font-family: Montserrat, sanr-serif;
    color: white;
    font-size: 15px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px 0px rgba(148, 147, 147, 0.3);
}

.modal-header-text{
    font-family: Montserrat, sans-serif;
    font-size: 18px;
}

.type_content {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;

}

.input_label {
    font-family: Montserrat, sans-serif;
    margin-left: 50px;
}

.input_label_type_content {
    font-family: Montserrat, sans-serif;
    padding: 5px 5px 0 0;
}
.form_composition {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
#title_composition {
    padding-left: 10px;
    width: 395px;
    height: 35px;
    border: 1px solid #ffa51d;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 3px;
}
.content_file {
    margin: 20px auto;
}
.btn_save:disabled,
.btn_save[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
.container_buttons-nav {
    margin-top: 40px;
    display: flex;
    align-items: center;
}
